.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .topnav .search-container {
    float: left;
    padding: 1%;
    display: flex;
    width:850px;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border: none;
    width:300%;
    border:1px solid grey;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  .searchRating{
    margin:2% 0% 0% 3%;
  }